<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.manitech.mapper.EmployeeMapper">

	<select id="selectEmployeeListCnt" parameterType="hashmap" resultType="int">
		SELECT
				COUNT(distinct EMPLOYEE_NAME ) AS TOTCNT
		from (
		    select e.*
		        , p.project_name
		        , p.CLIENT
		        , p.DEV_ROLE
		        , p.DEV_OS
		        , p.DEV_LANGUAGE
		        , p.DEV_DBMS
		        , p.DEV_TOOL
		        , p.DEV_COMMUNICATION
		        , p.DEV_WAS
		        , p.DEV_FRAMEWORK
		        , p.OTHER_DETAILS
		    from tb_employees e 
		     left join  tb_projects p 
		        on e.employee_name = p.employee_name
		) 
		where 1=1 
		<if test='employeeName != null and !employeeName.equals("")'>
		and employee_name like '%'||#{employeeName}||'%'
 		</if>
		<if test='addr != null and !addr.equals("")'>
		and ADDR like '%'||#{addr}||'%'
 		</if>
		<if test='grade != null and !grade.equals("")'>
		and GRADE like '%'||#{grade}||'%'
 		</if>
		<if test='projectName != null and !projectName.equals("")'>
		and PROJECT_NAME like '%'||#{projectName}||'%'
 		</if>
		<if test='dev != null and !dev.equals("")'>
		and (  CLIENT like '%'||#{dev}||'%'
		        or DEV_LANGUAGE like '%'||#{dev}||'%'
		        or DEV_DBMS like '%'||#{dev}||'%'
		        or DEV_TOOL like '%'||#{dev}||'%'
		        or DEV_COMMUNICATION like '%'||#{dev}||'%'
		        or DEV_WAS like '%'||#{dev}||'%'
		        or DEV_FRAMEWORK like '%'||#{dev}||'%'
		        or OTHER_DETAILS like '%'||#{dev}||'%'
		        )
 		</if>
 		order by employee_name
	</select>

	<select id="selectEmployeeList" parameterType="hashmap" resultType="hashmap">
		select distinct EMPLOYEE_NAME
		       , BIRTHDATE
		       , GENDER
		       , PHONE
		       , EMAIL
		       , ADDR
		       , EDU1
		       , EDU2
		       , EDU3
		       , POSITION_CODE
		       , YEARS
		       , GRADE
		       , COSA_YN
		       , GISA_YN
		       , REMARKS
		       , (SELECT COUNT(1) FROM tb_projects WHERE employee_name = A.employee_name) PRJ_CNT
		       , (SELECT COUNT(1) FROM TB_CALL_HISTORY WHERE employee_name = A.employee_name) CALL_CNT
		from (
		    select e.*
		        , p.project_name
		        , p.CLIENT
		        , p.DEV_ROLE
		        , p.DEV_OS
		        , p.DEV_LANGUAGE
		        , p.DEV_DBMS
		        , p.DEV_TOOL
		        , p.DEV_COMMUNICATION
		        , p.DEV_WAS
		        , p.DEV_FRAMEWORK
		        , p.OTHER_DETAILS
		    from tb_employees e 
		     left join  tb_projects p 
		        on e.employee_name = p.employee_name
		) A
		where 1=1 
		<if test='employeeName != null and !employeeName.equals("")'>
		and employee_name like '%'||#{employeeName}||'%'
 		</if>
		<if test='addr != null and !addr.equals("")'>
		and ADDR like '%'||#{addr}||'%'
 		</if>
		<if test='grade != null and !grade.equals("")'>
		and GRADE like '%'||#{grade}||'%'
 		</if>
		<if test='projectName != null and !projectName.equals("")'>
		and PROJECT_NAME like '%'||#{projectName}||'%'
 		</if>
		<if test='dev != null and !dev.equals("")'>
		and (  CLIENT like '%'||#{dev}||'%'
		        or DEV_LANGUAGE like '%'||#{dev}||'%'
		        or DEV_DBMS like '%'||#{dev}||'%'
		        or DEV_TOOL like '%'||#{dev}||'%'
		        or DEV_COMMUNICATION like '%'||#{dev}||'%'
		        or DEV_WAS like '%'||#{dev}||'%'
		        or DEV_FRAMEWORK like '%'||#{dev}||'%'
		        or OTHER_DETAILS like '%'||#{dev}||'%'
		        )
 		</if>
 		order by employee_name
	</select>

	<select id="selectEmployeeProjectListCnt" parameterType="hashmap" resultType="int">
		SELECT
				COUNT(EMPLOYEE_NAME ) AS TOTCNT
		from tb_projects p 
		where 1=1 
		<if test='employeeName != null'>
		and employee_name like '%'||#{employeeName}||'%'
 		</if>
 		order by EMPLOYEE_NAME, PROJECT_ID, PROJECT_NAME
	</select>

	<select id="selectEmployeeProjectList" parameterType="hashmap" resultType="hashmap">
		select  EMPLOYEE_NAME
			, PROJECT_ID
			, PROJECT_NAME
			, PROJECT_DATE
			, START_DATE
			, END_DATE
			, CLIENT
			, COMPANY
			, DEV_ROLE
			, DEV_OS
			, DEV_LANGUAGE
			, DEV_DBMS
			, DEV_TOOL
			, DEV_COMMUNICATION
			, DEV_WAS
			, DEV_FRAMEWORK
			, OTHER_DETAILS
		from tb_projects p 
		where 1=1 
		<if test='employeeName != null'>
		and employee_name like '%'||#{employeeName}||'%'
 		</if>
 		order by EMPLOYEE_NAME, PROJECT_ID, PROJECT_NAME
	</select>
	
	<select id="selectEmployeeNoteListCnt" parameterType="hashmap" resultType="int">
		SELECT
				COUNT(EMPLOYEE_NAME ) AS TOTCNT
		from TB_CALL_HISTORY p 
		where 1=1 
		<if test='employeeName != null'>
		and employee_name like '%'||#{employeeName}||'%'
 		</if>
 		order by REG_DATE desc, HISTORY_ID
	</select>

	<select id="selectEmployeeNoteList" parameterType="hashmap" resultType="hashmap">
		select  REG_DATE
			, EMPLOYEE_NAME
			, HISTORY_ID
			, NOTE
			, ACTION
			, TO_CHAR(REGDATE, 'YYYY-MM-DD HH24:MI:SS') REGDATE
			, REGID
		from TB_CALL_HISTORY p 
		where 1=1 
		<if test='employeeName != null'>
		and employee_name like '%'||#{employeeName}||'%'
 		</if>
 		order by REG_DATE desc, HISTORY_ID
	</select>
	
	<insert id="insertEmployeeCallSave" parameterType="hashmap">
	    <selectKey keyProperty="no" resultType="int" order="BEFORE">
	        select count(1) + 1
	        from TB_CALL_HISTORY
		where reg_date = to_char(sysdate,'YYYYMMDD')
		and employee_name = #{employeeName}
	    </selectKey>
	    insert into TB_CALL_HISTORY
	    (reg_date, employee_name, history_id, note, action, regdate, regid)
	    values
	    (to_char(sysdate,'YYYYMMDD'), #{employeeName}, #{no}, #{note}, '', SYSDATE, #{regId})
	</insert>
</mapper>