<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.manitech.mapper.EmployeeMapper">

	<select id="selectEmployeeListCnt" parameterType="hashmap" resultType="int">
		SELECT
				COUNT(distinct EMPLOYEE_NAME ) AS TOTCNT
		from (
		    select e.*
		        , p.project_name
		        , p.CLIENT
		        , p.DEV_ROLE
		        , p.DEV_OS
		        , p.DEV_LANGUAGE
		        , p.DEV_DBMS
		        , p.DEV_TOOL
		        , p.DEV_COMMUNICATION
		        , p.DEV_WAS
		        , p.DEV_FRAMEWORK
		        , p.OTHER_DETAILS
		    from tb_employees e 
		     left join  tb_projects p 
		        on e.employee_name = p.employee_name
		) 
		where 1=1 
		<if test = 'list != null and list.size!=0'>
			and grade IN
		    <foreach item="item" index="index" collection="list" open="(" close=")" separator=",">
		            #{item}
		    </foreach>
 		</if>
		<if test='employeeName != null'>
		and employee_name like '%'||#{employeeName}||'%'
 		</if>
		<if test='addr != null'>
		and ADDR like '%'||#{addr}||'%'
 		</if>
		<if test='grade != null'>
		and GRADE like '%'||#{grade}||'%'
 		</if>
		<if test='projectName != null'>
		and PROJECT_NAME like '%'||#{projectName}||'%'
 		</if>
		<if test='dev != null'>
		and (  CLIENT like '%'||#{dev}||'%'
		        or DEV_LANGUAGE like '%'||#{dev}||'%'
		        or DEV_DBMS like '%'||#{dev}||'%'
		        or DEV_TOOL like '%'||#{dev}||'%'
		        or DEV_COMMUNICATION like '%'||#{dev}||'%'
		        or DEV_WAS like '%'||#{dev}||'%'
		        or DEV_FRAMEWORK like '%'||#{dev}||'%'
		        or OTHER_DETAILS like '%'||#{dev}||'%'
		        )
 		</if>
 		order by employee_name
	</select>

	<select id="selectEmployeeList" parameterType="hashmap" resultType="hashmap">
		select distinct EMPLOYEE_NAME
		       , BIRTHDATE
		       , GENDER
		       , PHONE
		       , EMAIL
		       , ADDR
		       , EDU1
		       , EDU2
		       , EDU3
		       , POSITION_CODE
		       , YEARS
		       , GRADE
		       , COSA_YN
		       , GISA_YN
		       , REMARKS
		from (
		    select e.*
		        , p.project_name
		        , p.CLIENT
		        , p.DEV_ROLE
		        , p.DEV_OS
		        , p.DEV_LANGUAGE
		        , p.DEV_DBMS
		        , p.DEV_TOOL
		        , p.DEV_COMMUNICATION
		        , p.DEV_WAS
		        , p.DEV_FRAMEWORK
		        , p.OTHER_DETAILS
		    from tb_employees e 
		     left join  tb_projects p 
		        on e.employee_name = p.employee_name
		) 
		where 1=1 
		<if test = 'list != null and list.size!=0'>
			and grade IN
		    <foreach item="item" index="index" collection="list" open="(" close=")" separator=",">
		            #{item}
		    </foreach>
 		</if>
		<if test='employeeName != null'>
		and employee_name like '%'||#{employeeName}||'%'
 		</if>
		<if test='addr != null'>
		and ADDR like '%'||#{addr}||'%'
 		</if>
		<if test='grade != null'>
		and GRADE like '%'||#{grade}||'%'
 		</if>
		<if test='projectName != null'>
		and PROJECT_NAME like '%'||#{projectName}||'%'
 		</if>
		<if test='dev != null'>
		and (  CLIENT like '%'||#{dev}||'%'
		        or DEV_LANGUAGE like '%'||#{dev}||'%'
		        or DEV_DBMS like '%'||#{dev}||'%'
		        or DEV_TOOL like '%'||#{dev}||'%'
		        or DEV_COMMUNICATION like '%'||#{dev}||'%'
		        or DEV_WAS like '%'||#{dev}||'%'
		        or DEV_FRAMEWORK like '%'||#{dev}||'%'
		        or OTHER_DETAILS like '%'||#{dev}||'%'
		        )
 		</if>
 		order by employee_name
	</select>

</mapper>